table {
    border: 1px solid;
    width: 50%;
    background-color: #a37052;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    align-items: center;
}

td {
    height: 85px;
    border: 1px solid;
}

body {
    background-color: beige;
    font-family: sans-serif;
}

h1, h3 {
    text-align: center;
    font-weight: bold;
}

.shelf {
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: beige;
    border: none;
    float: right;
    cursor: pointer;
}

.pic {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

.flexbox {
    display: flex;
    flex-direction: column;
}

.sidebarr {
    width: 10%;
    float: right;

}

.sidebarl {
    width: 10%;
    float: left;
}

.middle {
    width: 80%;
    float: left;
}

.categorie {
    background-color: #a37052;
    border: #a37052;
    height: 84px;
    width: 100%;
}

.center {
    background-color: beige;

}

#bookForm {
    align-items: center;
    
}